
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: grey;
}

#information {
  background-color: white;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  height: 80vh;
  overflow: auto;
}

.student {
  display:flex;
  flex-direction: row;
}

.avatar{
  margin: 50%;
  height: 70%;
  border: 1px solid grey;
  border-radius: 150px;
}

.full-name{
  font-size: larger;
}