
body {
  font-family: 'Raleway', sans-serif;
  background-color: lightgray;
  font-size: 2.2vw;
}

#information {

  border-radius: 10px;
  background-color: white;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  height: 80vh;
  overflow: auto;
}

.student {
  display:flex;
  flex-direction: row;
  padding: 5px;
  border: 1px solid lightgray;
  height: 20vw;
}

.profile-picture {
  margin: 2vw;
  display: flex;
  align-items: center;
}

.avatar{
  height: 10vw;
  border: 1px solid lightgray;
  border-radius: 150px;
}

.student-traits {
  margin: 5px;
  width: 100%;
}

.full-name{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 2vw;
  margin: 5px;
}

.traits p{
  margin: 0.5vh;
  margin-left: 10%;
  width: 90%;
}

@media screen and (min-width: 751px) {

  .traits p {
    margin: 7px;
    margin-left: 10%;
    width: 90%;
  }

  .full-name {
    font-size: 3vw;
    margin: 10px;
  }

}